$golden_rate: 161.8046%;
$golden_rate2: $golden_rate - 100%;
$golden_rate3: 100% - $golden_rate2;

html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  font-family: "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Noto Sans Japanese Regular", sans-serif;
  background: ghostwhite;
}

body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

#app {
}

#top-container {
  display: flex;
  background: red;
  width: 760px;
  height: 470px;
  margin: 0 auto;

  #eye-catch {
    width: $golden_rate2
  }
  #layer2 {
    width: $golden_rate3
  }
}

#eye-catch {
  padding: 155px 0;
  h1 {
    text-align: center;
    font-size: 60px;
  }
}

#layer2 {
  background: green;
}

#layer3 {
  display: flex;
  #layer4 { width: $golden_rate3 }
  #contacts { width: $golden_rate2 }
}

@mixin square-box($bw) {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    background: black;
    list-style-type: none;
    margin: 1%;
    width: $bw;
    height: $bw;
    position: relative;

    // align center with block
    a {
      display: block;
      color: white;
      text-decoration: none;
      text-align: center;
      padding: (($bw - 20px) / 2) 0;
      height: 20px;
    }
  }
}

ul#menu {
  @include square-box(139px);
}

ul#contacts {
  @include square-box(55px);
  justify-content: flex-end;
  li a {
    &.github { background-image: url(/images/icon/icon_github.png); }
    &.twitter { background-image: url(/images/icon/icon_twitter.png); }
    &.facebook { background-image: url(/images/icon/icon_facebook.png); }
    &.hatena { background-image: url(/images/icon/icon_hatena.png); }
    &.qiita { background-image: url(/images/icon/icon_qiita.png); }
    &.tumblr { background-image: url(/images/icon/icon_tumblr.png); }
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: 9px;
  }
  li.skip {
    background: none;
  }
}
