:root {
  --golden_rate: 161.8046%;
  --golden_rate2: calc(var(--golden_rate) - 100%);
  --golden_rate3: calc(100% - var(--golden_rate2));
}

html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  font-family: "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Noto Sans Japanese Regular", sans-serif;
  background: ghostwhite;
}

body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

#top-container {
  display: flex;
  width: 760px;
  height: 470px;
  margin: 0 auto;

}

#top-container>#eye-catch { width: var(--golden_rate2) }
#top-container>#layer2 { width: var(--golden_rate3) }

#eye-catch {
  padding: 155px 0;
}

#eye-catch h1 {
  text-align: center;
  font-size: 60px;
}

#layer2 {
}

#layer3 {
  display: flex;
}
#layer3 #layer4 { width: var(--golden_rate3) }
#layer3 #contacts { width: var(--golden_rate2) }

ul#menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
ul#menu li {
  background: black;
  list-style-type: none;
  margin: 1%;
  width: 139px;
  height: 139px;
  position: relative;
}

/*align center with block*/
#ul#menu li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 60px 0;
  height: 20px;
}

ul#contacts {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
ul#contacts li {
  background: black;
  list-style-type: none;
  margin: 1%;
  width: 55px;
  height: 55px;
  position: relative;
}

/*align center with block*/
ul#contacts li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 17.5px 0;
  height: 20px;
}

ul#contacts li a {
  background-size: 68%;
  background-repeat: no-repeat;
  background-position: 9px;
}
ul#contacts li a.github { background-image: url(/images/icon/icon_github.png); }
ul#contacts li a.twitter { background-image: url(/images/icon/icon_twitter.png); }
ul#contacts li a.facebook { background-image: url(/images/icon/icon_facebook.png); }
ul#contacts li a.hatena { background-image: url(/images/icon/icon_hatena.png); }
ul#contacts li a.qiita { background-image: url(/images/icon/icon_qiita.png); }
ul#contacts li a.tumblr { background-image: url(/images/icon/icon_tumblr.png); }

ul#contacts li.skip {
  background: none;
}
