
:root {
	--on-color: #888;
	--off-color: #eee;
}

.btn {
	border: none;
	border-left: 0.5em solid black;
	width: 5em;
}

.btn[data-toggle=true] {
	background: var(--on-color)
}

.btn[data-toggle=false] {
	background: var(--off-color)
}

@media screen and (max-width: 480px) {
	.btn {
		width: 33%;
		line-height: 2.5em;
	}
}
