.item {
	background: black;
	list-style-type: none;
	margin: 2px;
	width: 139px;
	height: 139px;
	position: relative;
	border-radius: 5px;
}

.item a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 60px 0;
	height: 20px;
	font-size: 25px;
}

@media screen and (max-width: 480px) {
	.item {
		width: 46%;
		margin: 2%;
	}
}
