:root {
    --w: calc(768px - 40px);
}

body {
    padding: 20px;
}

header {
    padding-left: 100px;
}

.page {

}

.products_filter {
    display: flex;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
