.page {

}

.products_filter {
	display: flex;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 480px) {
	.filters>* {
		margin-bottom: 10px;
	}
}
