.contact {
	background: black;
	list-style-type: none;
	margin: 2px;
	width: 55px;
	height: 55px;
	position: relative;
	border-radius: 5px;
}

/*align center with block*/
.contact a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 17.5px 0;
	height: 20px;
}

.contact a {
	background-size: 68%;
	background-repeat: no-repeat;
	background-position: 9px;
}

.contact[type=github] a {
	background-image: url(/images/icon/icon_github.png);
}

.contact[type=twitter] a {
	background-image: url(/images/icon/icon_twitter.png);
}

.contact[type=facebook] a {
	background-image: url(/images/icon/icon_facebook.png);
}

.contact[type=hatena] a {
	background-image: url(/images/icon/icon_hatena.png);
}

.contact[type=qiita] a {
	background-image: url(/images/icon/icon_qiita.png);
}

.contact[type=tumblr] a {
	background-image: url(/images/icon/icon_tumblr.png);
}

.contact.skip {
	background: none;
}
