:root {
	--golden_rate: 161.8046%;
	--golden_rate2: calc(var(--golden_rate) - 100%);
	--golden_rate3: calc(100% - var(--golden_rate2));
}

.wrap_main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.page {
	display: flex;
	width: 760px;
	height: 470px;
}

.layer2 {
	width: var(--golden_rate3)
}

.eyecatch {
	padding: 155px 0;
	width: var(--golden_rate2)
}

.eyecatch h1 {
	text-align: center;
	font-size: 90px;
}

.layer3 {
	display: flex;
}

.layer3 .layer4 {
	width: var(--golden_rate3)
}

.layer3 .contacts {
	width: var(--golden_rate2)
}

.menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.contacts {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

@media screen and (max-width: 480px) {
	.wrap_main {
		display: block;
	}

	.page {
		display: block;
		width: 100%;
		height: 100%;
	}

	.layer2 {
		width: 100%;
	}

	.layer3 {
		display: block;
	}

	.eyecatch {
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}

	.eyecatch h1 {
		font-size: 60px;
		margin: 0;
	}

	.layer3 .layer4 {
		width: 100%;
	}

	.layer3 .contacts {
		width: 100%;
	}
}
